ANTHROPIC_API_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
BREVO_API_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_PASSWORD=
ZOHO_PASSWORD=

NEXT_PUBLIC_POSTHOG_KEY=phc_ndYn4HndEs7NMvaYyTQP6nWuGS6o2RTyobU5mVfmMKMy
NEXT_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
